:root {
    font-family: Jost, serif !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Jost, serif !important;
    background-color: #242424 !important;
    color: rgba(255, 255, 255, 0.87) !important;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    margin: 0 0;
    /*padding: 2rem;*/
    text-align: center;
    width: 100%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.structure-image {
    cursor: pointer;
    margin: 10px;
    max-width: 200px;
    width: 200px !important;
    min-width: 150px;
    min-height: 150px;
    height: 150px !important;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}
.done-cell {
    margin: 10px !important;
    max-width: 200px;
    width: 200px !important;
    min-width: 150px;
    min-height: 150px;
    height: 150px !important;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
.structure-image-selected{
    border-color: #535bf2 !important;
    transition: border-color 0.5s;
}
.flip-box {
    background-color: transparent;
    width: 400px;
    height: 300px;
    /* 		border: 1px solid #ddd; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip on button click */
.flip-it {
    transform: rotateY(180deg);
}
nav{
    background-color: #1a1a1a !important;
    color: white !important;
}
nav>*{
    color: white !important;
}
label{
    color: #212121 !important;
}
